.form { 
    margin-left: 25; 
    margin-right: 25; 
    flex-grow: 2; 
    } 
    #a1{ 
    font-size: 15; 
    border-radius: 10; 
    } 
    .text-label { 
    margin-top: 25; 
    margin-bottom: 10; 
    
    color:#39ace7;; 
    font: bold; 
    } 
    
    
    .btn-primary { 
    border-radius: 10; 
    padding:18; 
    margin: 50 .2 1 .2; 
    }