<div *ngIf="detail">
  <!-- <h1>Edit {{detail.team_name}} Details</h1> -->
  <label for="amount">Amount</label>
 
      <input type="text" [(ngModel)]="detail.amount" id="amount" placeholder="Amount.." >

      <label for="name">Team Name</label>
      <input type="text" [(ngModel)]="detail.team_name" id="name" placeholder="Team Name.." > 
      <button type="submit" class="btn btn-info" style="margin-left:25%" (click)="updateTeam(detail.amount,detail.team_name)"><b>UPDATE</b></button>
      <button type="button" class="btn btn-danger" style="margin-left:5px"  (click)="delete()"><b>DELETE</b></button>
  
</div>



